@page "/AddUser"
@using UserData.Shared
@inject HttpClient httpClient

<h3 class="text-center">AddUsers</h3>
<br />
<div class="row">
    <div class="col">
        <label>First Name</label>
        <input type="text" placeholder="First Name" @bind="UserDetails.FirstName"/>
    </div>
    <div class="col">
        <label>Last Name</label>
        <input type="text" placeholder="Last Name" @bind="UserDetails.LastName" />
    </div>
    <div class="col">
        <label>Email</label>
        <input type="text" placeholder="Email" @bind="UserDetails.Email" />
    </div>
</div>
<br />
<div class="row">
    <div class="col">
        <button class="btn btn-primary" @onclick="Submit">Submit</button>
    </div>
</div>

@code {

    public User UserDetails { get; set; } = new User();

    public void Submit()
    {
        httpClient.PostAsJsonAsync("/api/User", UserDetails);
    }
}
